@keyframes jellyAnimation {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(0.8);
    }
    75% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .CheckBtn:hover {
    animation: jellyAnimation 0.5s;
  }

  .popup button:hover {
    animation: jellyAnimation 0.5s;
  }

  .popup {
    width : 400px;
    background: #fff;
    border-radius: 6px;
    position : absolute;
    top : 0;
    left : 50%;
    transform : translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding : 0 30px 30px;
    color : #333;
    z-index: 10;
    box-shadow : 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .popup img {
    width : 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow : 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .popup h2 {
    font-size : 38px;
    color : #000;
    font-weight : 500;
    margin : 30px 0 10px;
  }
  
  .popup button {
    width : 100%;
    margin-top: 50px;
    padding : 10px 0;
    background: #444;
    color : #fff;
    outline : none;
    font-size : 18px;
    border-radius: 4px;
    cursor : pointer;
    box-shadow : 0 5px 5px rgba(0, 0, 0, 0.2);
    border : none;
  }

  .upMenu:hover {
    color : #f386fd;
  }

  .anMenu:hover {
    color : #f386fd;
  }