@keyframes jellyAnimation {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(0.8);
    }
    75% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .CheckBtn:hover {
    animation: jellyAnimation 0.5s;
  }


  .upMenu:hover {
    color : #f386fd;
  }

  .anMenu {
    color : #f386fd;
  }