.chartContainer {
    width : 90%;
    height : 90%;
    margin : auto;
    padding : auto;
    justify-content: center;
    display : flex;
    align-items: center;
}

.ChartBox {
    width : 100%;
    height : 100%;
    margin : auto;
    padding : auto;
    justify-content: center;
    display : flex;
    align-items: center;
}